@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512361/newhomebg_tj6046.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.client {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512382/client_kv1s41.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.benefit {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512382/benefits_riqzuc.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.product {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512488/producrs_so8qiv.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.audit {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512382/audit_iwjy9k.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.core {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512485/realcore_p8vvjw.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.faq {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512487/faq_htldoz.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.foot {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512512/footer_qklqa4.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.navandflat {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512511/navandflat_cbsfxn.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.scan_schield {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512512/contract_scanner_sqm5vm.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.schield_core {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512617/schield_core_sv2xyc.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.schield_benefit {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512619/schield_benefit_gdbn90.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.schield_foot {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512307/schield_ffot_f2yt40.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.res {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512620/res_vihoqc.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.req {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512119/request_njw6yk.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.abouthero {
  /* Set the background image URL here */

  background-image: url("../src/aboutnavandhero_vaa6ok.jpg");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.meetteam {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692469345/meettheteam_annwsd.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.footerInabout {
  /* Set the background image URL here */

  background-image: url("./images/footerinabout.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.newnav {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512782/newnav_hyjr2n.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.contacthero {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512801/contacthero_zkirwx.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.smartdevbg {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512878/smartdevbg_pcxetj.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.audithero {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692507780/audithero_nwjykx.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.auditBenefit {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512896/auditbenefit_lspglq.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.TokenSecond {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512200/TokensecondSec_u7ridc.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.TokenLast {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512199/tokenlastsec_e30x3d.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.bloghero {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512916/bloghero_fpkpef.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.blogimg {
  /* Set the background image URL here */

  background-image: url("./images/blogimg.png");

  /* Full height and width of the viewport */
  width: 400px;
  height: 250px;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.tokenthird {
  /* Set the background image URL here */

  background-image: url("./images/tokenthirdpic.png");

  /* Full height and width of the viewport */
  width: auto;
  height: 600px;

  /* Background image should cover the entire element */
  background-size: contain;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}

/* For small screens (mobile) */
@media (max-width: 640px) {
  .tokenthird {
    /* Set the background image URL here */
    background-image: url("./images/tokenthirdpic.png");

    /* Adjust the height as needed */
    height: 180px;

    /* Background image should cover the entire element */
    background-size: contain;

    /* Center the background image */
    background-position: initial;
    background-repeat: no-repeat;

    /* Optionally, you can set the background attachment to fixed for a fixed background */
    /* background-attachment: fixed; */
  }
}

/* For medium to large screens */
@media (min-width: 641px) {
  .tokenthird {
    /* Set the background image URL here */
    background-image: url("./images/tokenthirdpic.png");

    /* Full height and width of the viewport */
    width: auto;
    height: 600px;

    /* Background image should cover the entire element */
    background-size: contain;

    /* Center the background image */
    background-position: initial;

    /* Optionally, you can set the background attachment to fixed for a fixed background */
    /* background-attachment: fixed; */
  }
}

.DappExp {
  /* Set the background image URL here */

  background-image: url("./images/DAppExp.png");

  /* Full height and width of the viewport */
  width: auto;
  height: 900px;

  /* Background image should cover the entire element */
  background-size: contain;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}

/* For small screens (mobile) */
@media (max-width: 640px) {
  .DappExp {
    /* Set the background image URL here */
    background-image: url("./images/DAppExp.png");

    /* Adjust the height and other properties as needed */
    height: 280px;
    width: 100%;
    background-size: contain;
    background-position: initial;
  }
}

/* For medium to large screens */
@media (min-width: 641px) {
  .DappExp {
    /* Set the background image URL here */
    background-image: url("./images/DAppExp.png");

    /* Full height and width of the viewport */
    width: auto;
    height: 900px;

    /* Background image should cover the entire element */
    background-size: contain;

    /* Center the background image */
    background-position: initial;

    /* Optionally, you can set the background attachment to fixed for a fixed background */
    /* background-attachment: fixed; */
  }
}

.auditButton {
  /* Set the background image URL here */

  background-image: url("./images/buttonInAudit.png");

  /* Full height and width of the viewport */
  width: 309px;
  height: 56px;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.auditButton1 {
  /* Set the background image URL here */

  background-image: url("./images/buttonInAudit.png");

  /* Full height and width of the viewport */
  width: 320px;
  height: 56px;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.smartdevwork {
  /* Set the background image URL here */

  background-image: url("./images/newbgforsmdec.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}

/* For small screens (mobile) */
@media (max-width: 640px) {
  .smartdevwork {
    /* Set the background image URL here */
    background-image: url("./images/newbgforsmdec.png");

    /* Full height and width of the viewport */
    width: auto;
    height: max-content;

    /* Background image should cover the entire element */
    background-size: cover;

    /* Center the background image */
    background-position: initial;

    /* Optionally, you can set the background attachment to fixed for a fixed background */
    /* background-attachment: fixed; */
  }
}

/* For medium to large screens */
@media (min-width: 641px) {
  .smartdevwork {
    /* Set the background image URL here */
    background-image: url("./images/newbgforsmdec.png");

    /* Full height and width of the viewport */
    /* Full height and width of the viewport */
    width: auto;
    height: max-content;

    /* Background image should cover the entire element */
    background-size: cover;

    /* Center the background image */
    background-position: initial;

    /* Optionally, you can set the background attachment to fixed for a fixed background */
    /* background-attachment: fixed; */
  }
}

.statsbg {
  /* Set the background image URL here */

  background-image: url("./images/statsbg.png");

  /* Full height and width of the viewport */
  width: auto;
  height: 160px;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.hero1 {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692513160/newhome1_hzsuvm.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}
.features {
  /* Set the background image URL here */

  background-image: url("https://res.cloudinary.com/dsjgdufgl/image/upload/v1692512020/tokenbg_twjzf3.png");

  /* Full height and width of the viewport */
  width: auto;
  height: max-content;

  /* Background image should cover the entire element */
  background-size: cover;

  /* Center the background image */
  background-position: initial;
  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}

.working {
  /* Set the background image URL here */

  background-image: url("./images/working.png");

  /* Full height and width of the viewport */
  width: 100%;
  height: 800px;

  /* Background image should cover the entire element */
  background-size: contain;

  /* Center the background image */
  background-position: initial;
  background-repeat: no-repeat;

  /* Center the background image */
  background-position: initial;

  /* Optionally, you can set the background attachment to fixed for a fixed background */
  /* background-attachment: fixed; */
}

@media (max-width: 640px) {
  .working {
    /* Set the background image URL here */
    background-image: url("./images/working.png");

    /* Adjust the height and other properties as needed */
    height: 220px;
    background-size: contain;
    background-position: inherit;
    background-repeat: no-repeat;
  }
}
.bg-custom-gradient {
  background-image: linear-gradient(99.68deg, #12d576, #2d5c8f);
  /* Other styles for the gradient, if necessary */
}

.gradient-border {
  /* border-radius: 41px; */
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom right, #2d5c8f, #12d576);
  border-image-slice: 1;
  border-radius: 40px;
}
